# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

syntax: regexp  
Project/VS12/Bin/  
Project/VS12/Obj/
Project/VS12/ipch/  

syntax: glob  
*.opensdf
*.sdf
*.suo
*.user
*.ilk
*.pdb
*.ipch
